@model LilloLSInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Create";
}
@{
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }

}
@{
    if (TempData["Mensaje"] != null)
    {
        <p>@TempData["Mensaje"]</p>
    }

}

<h1>Crear</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" name="InmuebleId">
                    @foreach (var item in (IList<Inmueble>)ViewBag.Inmueble)
                    {
                        <option value="@item.Id"> @(item.Direccion)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in (IList<Inquilino>)ViewBag.Inquilino)
                    {
                        <option value="@item.Id"> @(item.Nombre + " " + item.Apellido)</option>
}
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FecInicio" class="control-label"></label>
                <input asp-for="FecInicio" class="form-control" />
                <span asp-validation-for="FecInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecFin" class="control-label"></label>
                <input asp-for="FecFin" class="form-control" />
                <span asp-validation-for="FecFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
            <label asp-for="GaranteId" class="control-label"></label>
            <select class="form-control" name="GaranteId">
                @foreach (var item in (IList<Garante>)ViewBag.Garantes)
                {
                    <option value="@item.Id"> @(item.Nombre + " " + item.Apellido)</option>}
            </select>
            </div>

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
