@model LilloLSInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InmuebleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InquilinoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FecInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FecInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FecFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FecFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GaranteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GaranteId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Volver al Listado</a>
</div>
