@model LilloLSInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

@{
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }

}
@{
    if (TempData["Mensaje"] != null)
    {
        <p>@TempData["Mensaje"]</p>
    }

}

<h1>Editar</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" name="InmuebleId">
                    @foreach (var item in (IList<Inmueble>)ViewBag.Inmueble)
                    {
                        @:<option @(item.Id == Model.InmuebleId ? "selected" : "") Value="@item.Id">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in (IList<Inquilino>)ViewBag.Inquilino)
                    {
                        @:<option @(item.Id == Model.InquilinoId ? "selected" : "") Value="@item.Id">@(item.Nombre+" "+item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecInicio" class="control-label"></label>
                <input asp-for="FecInicio" class="form-control" />
                <span asp-validation-for="FecInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecFin" class="control-label"></label>
                <input asp-for="FecFin" class="form-control" />
                <span asp-validation-for="FecFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" />
                    @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
            <label asp-for="GaranteId" class="control-label"></label>
            <select class="form-control" name="GaranteId">
                @foreach (var item in (IList<Garante>)ViewBag.Garantes)
                {
                    @:<option @(item.Id == Model.GaranteId ? "selected":"") Value = "@item.Id">@(item.Nombre+" "+item.Apellido)</option>
                }
            </select>
            <span asp-validation-for="GaranteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
