@model IEnumerable<LilloLSInmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

@{
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }

}
@{
    if (TempData["Mensaje"] != null)
    {
        <p>@TempData["Mensaje"]</p>
    }

}

<h1>Listado de Contratos</h1>

<p>
    <a asp-action="Create">Crear nuevo Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inmueble.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GaranteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InmuebleId)
            </td>
            <td>
                @(item.Inquilino.Nombre+" "+item.Inquilino.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @(item.Garante.Nombre+" "+item.Garante.Apellido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
