@model LilloLSInmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Create";
}
@{
    if (TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }

}
@{
    if (TempData["Mensaje"] != null)
    {
        <p>@TempData["Mensaje"]</p>
    }

}
@{
    ViewData["Title"] = "Crear";
    Contrato c = (Contrato)ViewBag.Contrato;
}
@{
    ViewData["Title"] = "Crear";
    Inmueble inmu = (Inmueble)ViewBag.Inmueble;
}
@{
    ViewData["Title"] = "Crear";
    Inquilino inq = (Inquilino)ViewBag.Inquilino;
}


<h1>Crear Nuevo Pago</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="@c.Monto" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrato.Id" class="control-label"></label>
                <input asp-for="@c.Id" class="form-control" />
                <span asp-validation-for="contrato.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrato.InmuebleId" class="control-label"></label>
                <input asp-for="@inmu.Direccion" class="form-control" />
                <span asp-validation-for="contrato.InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrato.InquilinoId" class="control-label"></label>
                <input asp-for="@inq.Apellido" class="form-control" />
                <span asp-validation-for="contrato.InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
